<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Weather Dashboard</h2>

<input id="city" placeholder="Enter city">
<button onclick="getWeather()">Check Weather</button>

<p id="weatherResult"></p>

<hr>

<h2>GitHub Repository Analytics</h2>

<input id="owner" placeholder="Owner">
<input id="repo" placeholder="Repository">

<button onclick="getRepo()">Get Stats</button>

<p id="repoResult"></p>

<script src="/static/script.js"></script>

</body>
</html>